<footer class="footer">
  <span>Copyright © 2021 sunstormstudio.com</span>
</footer>
<div class="contact-us__forms form-popup" id="myForm">
  <form action="">
    <div class="form__title">get a consultation</div>
    <div class="form__img">
      <img src="../img/arrow.png" alt="Arrow" loading="lazy" />
    </div>
    <div class="input__title">Name</div>
    <input type="type" placeholder="What is your name?" required="required" />
    <div class="input__title">Phone</div>
    <input
      type="type"
      placeholder="Your phone number"
      required="required"
    /><button class="btn-myprimary">Send</button
    ><button class="btn-myprimary close" onclick="closeForm()">X</button>
  </form>
</div>
