<header class="header">
  <div class="contain">
    <div class="logo">
      <img src="/img/Logo1.webp" alt="Logo" />
    </div>
    <nav class="mobile-menu">
      <input class="mobile-menu__checkbox" id="checkbox" type="checkbox" />
      <label class="mobile-menu__btn" for="checkbox">
        <div class="mobile-menu__icon"></div>
      </label>
      <div class="mobile-menu__container">
        <ul class="mobile-menu__list">
          <li class="mobile-menu__item"><a href="#2d">2D art</a></li>
          <li class="mobile-menu__item"><a href="#3d">3D art</a></li>
          <li class="mobile-menu__item"><a href="#des">UI/UX</a></li>
          <li class="mobile-menu__item"><a href="#gdes">Gamedesign</a></li>
          <li class="mobile-menu__item">
            <a href href="#dev">Game Development</a>
          </li>
          <li class="mobile-menu__item"><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
